.newsletter {
  margin-top: 100px;
}

.news-input {
  width: 35.563rem;
  height: 4.313rem;
  border: none;
  padding: 0 0 0 3.531rem;
}

.news-button {
  width: 10.438rem;
  height: 4.313rem;
  padding: 1.313rem 2.844rem 1.5rem;
  border-radius: 30px;
  background-color: #14dfdf;
  border: none;
  color: #ffffff;
}

.blog {
  margin-top: 140px;
}
